.actions-wrapper {
  width: 240px;
  height: 114px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid gainsboro;
  padding: 20px, 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
