
nz-layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;

  nz-content {
    margin: 0;
    height: calc(100% - 20vh);
    background-color: #141414;
  }

  nz-header, nz-footer {
    height: 10vh;
    background-color: #222222;
  }
}
