nz-layout {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;

  nz-content {
    margin: 0;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nz-header,
  nz-footer {
    height: 50px;
    background-color: #222222;
  }
}
