:host {
  text-align: center;
}

nz-layout {
  width: 100%;
  height: 100%;
  display: flex;

  .sider {
    background: #3ba0e9;
    color: #fff;
    border: 5px solid green;
  }

  .work-area {
    border: 5px solid blue;
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
      background: #7dbcea;
      color: #fff;
      border: 5px solid yellow;
    }

    .content {
      background: #eff5ff;
      border: 5px solid pink;
      padding: 24px 28px;
    }
  }
}
