<div class="profile-wrapper">
  <div
    nz-col
    class="image-wrapper"
  >
    <nz-upload
      nzAction="https://www.mocky.io/v2/5cc20019d3000009200a055e76"
      nzName="avatar"
      nzListType="picture-card"
      [nzBeforeUpload]="handleBeforeUpload"
      [(nzFileList)]="fileList"
      [nzPreview]="handlePreview"
      [nzAccept]="allowedExtentions"
    >
      <div class="upload-content">
        <p
          class="add-image-icon"
          nz-icon
          nzType="plus-circle"
          nzTheme="fill"
        ></p>
        <p>Изображение</p>
      </div>
    </nz-upload>
  </div>
  <div
    nz-col
    class="info-wrapper"
  >
    <form
      class="form-group"
      nz-form
      [formGroup]="formGroup"
      nzNoColon
      nzDisableAutoTips
      nzLabelAlign="left"
    >
      <nz-form-item>
        <nz-form-label
          nzRequired
          nzSpan="3"
        >Фамилия</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            formControlName="surname"
            nzSize="large"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          nzRequired
          nzSpan="3"
        >Имя</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            formControlName="name"
            nzSize="large"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="3">Отчество</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            formControlName="secondName"
            nzSize="large"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          nzRequired
          nzSpan="3"
        >Email</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            formControlName="email"
            nzSize="large"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          nzRequired
          nzSpan="3"
        >Роль</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            formControlName="role"
            nzSize="large"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          nzRequired
          nzSpan="3"
        >Логин</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            formControlName="login"
            nzSize="large"
          />
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
